@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    height: auto;
    width: 100vw;
    font-family: poppins;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}